<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav navbar-nav">
                        <a class="nav-link active" aria-current="page" th:href="@{'/'}">Books</a>
                    </li>
                    <li class="nav navbar-nav">
                        <a class="nav-link" th:href="@{'/?form=true'}">New Book</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mb-3" th:if="${form} == true">
        <form method="post" th:action="@{/saveBook}" th:object="${bookDto}" class="col card p-3 mb-5">
            <div class="form-group">
                <label for="author">Author</label>
                <input id="author" placeholder="Enter author" required type="text" th:field="*{author}"
                       class="form-control"/>
                <p th:if="${#fields.hasErrors('author')}" th:errorclass="error" th:errors="*{author}"></p>
                <label for="title">Title</label>
                <input id="title" placeholder="Enter title" required type="text" th:field="*{title}"
                       class="form-control"/>
                <label for="isbn">ISBN</label>
                <input id="isbn" placeholder="Enter isbn" required type="text" th:field="*{isbn}"
                       class="form-control"/>
            </div>
            <input type="submit" class="btn btn-primary" value="Save Book">
        </form>
    </div>
    <table class="table" th:if="${form} == false">
        <thead>
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Title</th>
            <th>ISBN</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${books.empty}">
            <td colspan="4"> No Books Available</td>
        </tr>
        <tr th:each="book : ${books}">
            <td><span th:text="${book.id}"> Id </span></td>
            <td><span th:text="${book.author}"> Author </span></td>
            <td><span th:text="${book.title}"> Title </span></td>
            <td><span th:text="${book.isbn}"> ISBN </span></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Number of books: [[${totalBooks}]]
            </div>
            <div class="col-sm-1">
                Pages:
            </div>
            <div class="col-sm-1">
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/?pageNumber=' + ${i}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/?pageNumber=' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/?pageNumber=' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>